$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-dark2: #007500;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-teritery-light: #2998ff;
$color-teritery-dark: #5643fa;

$color-green: #55c574;

$color-black: #000;

$color-grey-light: #f7f7f7;
$color-grey: #eeeeee;
$color-grey-dark: #777;
$color-grey-very-dark: rgb(53, 53, 53);
$color-grey-transparent: rgba(238, 238, 238, .8);

$color-white: white;
//  GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem; 
$gutter-horizontal: 6rem;


// FONTSIZE
$font-16: 1.6rem;